
@charset "utf-8";
/* CSS Document */

/*  total theme */

body {
	background: #000000;
}

.container {
    position: relative;
    box-sizing: border-box;
    background: #000000;
    color:#FFFFFF;
    max-width: 1200px;
    margin:auto;
    padding: 5px 20px 5px 20px;
}

 /*header with logo and language*/

header {
    height: 60px;
    margin: 1rem;
}

div.logo {
    height: 100%;
    width: 80%;
    background: url("images/logo.png") no-repeat left center;
    display: inline-block;
    float: left;
    max-width: 300px;
}

div.pagelink {
    margin: auto;
    margin-right: 0px;
}

.pagelink button {
    width: 150px;
    padding: 8px 0px;
}

/*title with Event name & date*/

div.title {
    display: block;
    height: 100px;
    padding: 1rem;
}

.title div {
    display: inline-block;
    /*height: 100%;*/
}

div.clear {
    float: left;
    clear: left;
}

.title h2 {
    color:#ffbf80;
    font-size: 1.5em;
}

.title h4 {
    color:#ffbf80;
    display: inline-block;
    font-size: 1em;
    vertical-align: sub;
    padding: 0px 5px;
}


.left-align {
    display: inline;
    float: left;
    margin: auto;
    /*height: 100%;*/
}

.right-align {
    text-align: right;
    display: inline;
    float: right;
    margin: auto;
    /*height: 100%;*/
}

/*nav menus with live, startlist & ranking*/

.nav-pills .nav-link {
    width: 150px;
    margin-right: 20px;
    text-align: center;
    background-color: #808080;
    cursor: pointer;
}

.nav-pills .nav-link.active {
    background-color: #d6251e;
    cursor: default;
}

.subtitle h3 {
    margin: 5px;
    font-size: 1.2em;
}

.subtitle {
    padding: 0px 50px 0px 5px;
    margin: 0px;
    color: #b4b4b4;
    background-color: #4d4d4d;
    display: inline-block;
    border-radius: 5px 5px 0px 0px;
}

.subtitle.highlight {
    background-color: #d6251e;
    color: white;
}

.subboard {
    clear: left;
    padding: 1rem;
}

div.errors {
    margin: 1rem;
}

footer {
    text-align: center;
    margin: 1rem;
}

.table {
    font-weight: 500;
}

.table thead {
    background-color: #ffbf80;
    color: black;
    font-size: 13px;
}

.table.highlight thead {
    background-color: rgba(255, 92, 43, 0.92);
    color: black;
}

.table thead th, .table tbody td {
    vertical-align: middle;
    padding: 8px 2px 8px 2px;
    font-size: 14px;
    border: 1px solid grey;
}

.table tbody {
    color: white;
}

.table.eventboard tbody tr {
    cursor: pointer;
}

.table-scoreboard tr:nth-child(even) td {
    background-color: #232323;
}

.table-scoreboard tr:nth-child(odd) td {
    background-color: black;
}

.col-40 {
    width: 40px;
}

.col-50 {
    width: 50px;
}

.bg-color-macaroni {
    background-color: #ffbf80 !important;
}

.text-color-black {
    color: black !important;
}

.font-size-medium {
    font-size: 12px;
}

.font-size-small {
    font-size: 11px;
}

.font-size-mini {
    font-size: 8px;
}

.no-wrap {
    white-space: nowrap;
}

.bg-color-pomegrant {
    background-color: #EA491C !important;
}

.bg-color-perano {
    background-color: #b8d1f3 !important;
}

.bg-color-pale-canary {
    background-color: #ffff99 !important;
}